{% extends "base.html" %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert">{{ message }}</div>
  {% endfor %}
{% endif %}

<div id="content">

  <div id="register">

    <div id="fields">
      <form method="post"> {% csrf_token %}
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="text" name="uname" placeholder="Login" required>
        <input type="password" name="password" placeholder="Hasło" required>
        <input type="password" name="password2" placeholder="Powtórz hasło" required>
        <input type="text" name="name" placeholder="Imię" required>
        <input type="text" name="surname" placeholder="Nazwisko" required>
        <input type="text" name="age" placeholder="Wiek" required min="0">
        <input type="text" name="phone" placeholder="Telefon" required>
        <input type="text" name="address" placeholder="Adres">
        <input type="text" name="city" placeholder="Miasto">
        <input type="text" name="postal_code" placeholder="Kod pocztowy">
        <input type="text" name="country" placeholder="Kraj">
        
        <div class="button-container">
          <input type="submit" value="Zarejestruj się"/>
        </div>
      </form>
      <a href="login">
        <div id="log_in">
          Posiadasz konto?
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}
